
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}


.container {
  text-align: center;
  

}


.logo img {
  height: 180px;
  

}



.logo span {
  color: #00cba9;
}

.form-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
 

}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
 
}
.form-box input:focus {
  border-color: #6a0dad;
  box-shadow: 0 0 5px rgba(106, 13, 173, 0.4);
}

.password-box {
  position: relative;
}

.password-box button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.password-box img {
  width: 20px;
}

.forgot {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #6B0CB0;
  margin: 5px 0 15px;
  font-weight: 600
}

.login-btn,
.signup-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  color: white;
  background-color:#00cba9;
  border-radius: 4px;
  cursor: pointer;
}

.signup-btn {
  background-color: #6B0CB0;
}
#alert-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-btn:hover,
.signup-btn:hover {
  background-color: #00a88a; 
  transform: scale(1.05);    
  transition: all 0.3s ease; 
}

.signup-btn:hover {
  background-color: #550091;
}
.eye-button:hover{
 color: darkgray;
}
.forgot:hover{
 color: #653c81;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert {
  animation: fadeInSlide 0.5s ease forwards;
  opacity: 0; 
  margin-top: 10px;
}


