
/* Container geral do mapa */
#map {
    width: 100%;
    height: 500px;
    border-radius:12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    transition: all 0.3s ease;
  }
  
  /* Input de busca do mapa */
  
  #brpesquisa:focus {
    outline: none;
    border-color: #198754; /* verde Bootstrap */
    box-shadow: 0 0 5px rgba(25, 135, 84, 0.5);
  }
  
  /* Responsividade extra */
  @media (max-width: 768px) {
    #map {
      height: 350px;
    }
  }