/* Cards - Inicio */
#container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 10px;
    row-gap: 20px;
    width: 100%;
}
.card-blocos{
    background-color: rgb(222, 222, 222);
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    width: 80%;
    margin: 0 auto;
    padding: 4px;
    height: fit-content;
    max-height: 537px;
    
}
.card-blocos img{
    width: 100%;
    border-radius: 8px;
}
.card-blocos p{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 110%;
}
.card-blocos i{
    color: goldenrod;
}
.card-blocos button{
    display: block;
    padding: 6px 12px;
    margin: 0px auto;
    border-radius: 6px;
    background-color:  #0A8B9A;
    color: white;
    transition: filter 0.2s ease;
}
.card-blocos button:hover{
    filter: brightness(0.9);
}
.botoes{
    grid-column: 1 / -1; 
    text-align: center;
    margin-top: 10px;
}
#btn-ver-mais {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px; 
}
/* Cards - Inicio */



.dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }